/* CSS kod pishite v etom faile, chotobi pri ustanovke obnovlenii ne bilo problem  */
/* Here you can put custom css rules for your site */




/*Цвет меню*/
.side-menu li {	
	background-color:#1a5687; /*цвет заднего фона*/
}
.side-menu > li:not(.active) > a {
	color:white; /*цвет текста*/
}
/*Цвет меню*/




/* --------------------------------------- */
.local-city-container .arrow, .local-phone-container i{
	display:none;
}
.local-phone-container, .local-city-container {
    display: inline-block;
}

.local-city-container .region_wrapper {
   padding-right: 5px;

}
.main__left-block ul.side-menu {
	padding-top:0;
}
.main__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
            align-items: flex-start;
}

.main__left-block {
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
    min-height: 100px;
	min-width:15%;
}
.main__left-block .side-menu {
	padding-top:55px;
}
@media (max-width: 991px) {
    .main__left-block {
        display: none;
    }
}

.text_after_items td
{
border: 1px solid black;
}

.row.righttext>a>div {
background-color: transparent !important;
}