@media(min-width:768px){
  .slaid-main{height:585px !important;}
}

@media(min-width:769px){
		/*.slaid-main{height:585px;}*/
		.long-banner{margin-top: -278px !important;}
		.slaid-main {background-size:contain;}
}
@media(max-width:1025px){
		/*.slaid-main{height:585px;}*/
		.long-banner{margin-top: -365px !important;}
		.slaid-main {background-size:contain;}
}

