/* TARIFS */
#tarif > .row > .maxwidth-theme{padding:0px !important;}
.tarifs .head-block{position:relative;}
.tarifs .frame{margin: 0px;position: relative;overflow: hidden;}
.tarifs .frame .wraps{width: 10000% !important;overflow: hidden;margin:0px;}

.tarifs .items_view td{box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-webkit-box-sizing: border-box;padding: 40px 20px 20px 20px;position: relative;text-align: left;vertical-align: top;overflow: hidden;}
.tarifs .frame.top .items_view td{border-right:1px solid #f5f5f5;border-top:1px solid #f5f5f5;}
.tarifs .frame.props .items_view td{border:1px solid #f5f5f5;}
.tarifs .frame.props .items_view td:first-child{border-right-width:0px;}
.tarifs .frame.props .items_view td:nth-child(2){border-left-width:0px;}

.tarifs .dynamic-block{position: absolute;left: 0;overflow: hidden;z-index: 2;background:#fff;height:100%;border:1px solid #f5f5f5;}

.tarifs .head-block .frame .item{border:none;box-shadow:none;}
.tarifs .head-block .frame .item .body-info{padding:0px;}
.tarifs .border:after{background: #f5f5f5;content: "";height: 100%;position: absolute;right: 0;top: 0;width: 1px;}

.tarifs .head-block .body-info{text-align:center;}
.tarifs .head-block .body-info .title{font-size:0.933em;color:#222;margin-bottom: 5px;text-align:center;font-weight:bold;}
.tarifs .head-block .item .body-info .price-block{font-size:0.933em;margin:0px 0px 8px;}
.tarifs .head-block .item .body-info .price-block.w-old{margin-bottom:0px;}
.tarifs .head-block .item .body-info .price-block + .price-block{text-decoration:line-through;font-size:0.867em;color:#777;}
.tarifs .head-block .item .body-info .order{margin:0px;}
.tarifs .head-block .body-info .btn{margin:0px;text-transform:uppercase;}

.wrapp_scrollbar{position:absolute;padding:31px 0px 15px 0px;}
.wrapp_scrollbar.relative_block{position:relative;}
.wrapp_scrollbar.relative_block:after{position:absolute;content:"";right:0px;top:0px;width:1px;height:100%;background:#f5f5f5;}
.bx_compare .slider_navigation {display:none;}
.bx_filtren_container ul{font-size:0px;margin:41px 0px 5px 0px;}
.bx_filtren_container ul li, .bx_filtren_container ul li:before{display:none;}
.bx_filtren_container ul li.visible{display:inline-block;vertical-align:top;margin:0px 5px 5px 0px;}
.bx_filtren_container ul li span{font-size:12px;line-height:16px;text-transform:none;}

/* Scrollbar */
.wrapp_scrollbar .wr_scrollbar{margin:0 78px 1em 78px;background:#e5e5e5;height:1px;opacity:0;}
.wr_scrollbar .scrollbar{height:5px;line-height:0;display:none;position:relative;top:-3px;cursor:pointer;}
.wr_scrollbar .scrollbar .handle{width:100px;height:3px;position:relative;top:2px;background:#292a33;cursor:pointer;border-radius:3px;}
.wr_scrollbar .scrollbar .handle .mousearea{position:absolute;top:-9px;left:0;width:100%;height:20px;}

.tarifs .main-block{position:relative;margin:-1px 0px 0px;}
.tarifs .data_table_props tr td:first-of-type{font-weight: 600;visibility: hidden;padding-right:22px;}
.tarifs .prop_title_table .data_table_props tr td:first-child{display: table-cell;opacity: 1;visibility: visible;}
.tarifs .data_table_props.clone tr td{border-bottom:1px solid #f5f5f5;}

.main-block .item-block td{text-align:center;padding:16px 20px 14px;font-size:0.867em;vertical-align: middle;}
.main-block .item-block td:first-child{text-align:left;}

.main-block .item-block .prop-block.icon-block{font-size:0px;line-height: 0px;}
.main-block .item-block .prop-block.icon-block:before{content:"";display:inline-block;width:24px;height:24px;background:url('../../../../images/allcorp2.png') -249px -204px no-repeat;}
.main-block .item-block .prop-block.icon-block.Y:before{background-position:-249px -231px;}

.wrapp_scrollbar.rounded-nav:hover .flex-direction-nav .flex-next{right: 20px;}
.wrapp_scrollbar.rounded-nav:hover .flex-direction-nav .flex-prev{left: 20px;}
.wrapp_scrollbar.rounded-nav .flex-direction-nav a{font-size:0px;top: 38px;}
.wrapp_scrollbar.rounded-nav:hover .flex-direction-nav a{opacity: 1;}

@media (min-width:768px) and (max-width:991px){
	.wrapp_scrollbar .slider_navigation{display:none !important;}
}
@media (min-width:768px){
	.tarifs .items_view td{width:195px;min-width:195px;}
	.tarifs .frame{margin-left:195px;}
	.wrapp_scrollbar{margin-left:195px;}
	.tarifs .frame.props .wraps{margin-left: -195px;}
	.tarifs .dynamic-block{width:195px;}
}

/* XS */
@media (max-width:767px){
	.tarifs .items_view td{width:222px;min-width:222px;}
	.tarifs .frame{margin-left:222px;}
	.wrapp_scrollbar{margin-left:222px;}
	.tarifs .frame.props .wraps{margin-left: -222px;}
	.tarifs .dynamic-block{width:222px;}
}

@media (max-width:600px){
	.tarifs .frame{margin-left:122px;}
	.wrapp_scrollbar{margin-left: 0px;}
	.wrapp_scrollbar.relative_block{background: #fff;z-index: 11;border: 1px solid #f5f5f5;border-right-width:0px;}
	.wrapp_scrollbar .wr_scrollbar{margin: 0 28px 1em 28px;}
	.tarifs .frame.props .wraps{margin-left: -122px;}
	.tarifs .dynamic-block{width:122px;}
	.tarifs .data_table_props.items_view td:first-child{width:122px;min-width:122px;max-width:122px;font-size: 0.733em;line-height: 20px;}

}

@media (max-width:320px){
	.tarifs .items_view td{width:165px;min-width:165px;}
}
@media (min-width:600px) and (max-width:768px){
	.catalog.detail .bottom-wrapper-inner .footer-button {
	    display: block !important;
	}
	.catalog.detail .wrapper-block-btn {
	    padding: 0 !important;
	}
}
