.style-switcher{width:705px;left: -705px;top:0px;background:#fff;height:100%;border-radius:0px;color:#333333;padding-top:81px;position:fixed;z-index:2998;/*transition:left 0.3s ease;*/}
.style-switcher.active{left:0px;box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);transition:left 0.3s ease;}
.style-switcher.active.closes{left:-705px;transition:left 0.3s ease;box-shadow:none;}
.style-switcher.active.closes .header, .style-switcher.active.closes form{opacity:0;}
.style-switcher .switch{position:absolute;top:147px;right:-58px;background:#e2e2e2;border-radius:0px 4px 4px 0px;width:58px;height:58px;border-left:1px solid rgba(0,0,0,0.05);line-height:54px;text-align:center;cursor:pointer;}
.style-switcher .switch.active, .style-switcher .switch_presets.active {background-color: #fff;}
.style-switcher .switch svg{vertical-align:middle;margin-right: 1px;}
.style-switcher .switch:hover svg path{fill:#fff;}

.style-switcher .switch_presets {
    position: absolute;
    top: 86px;
    right: -58px;
    background: #e2e2e2;
    border-radius: 0 4px 4px 0;
    width: 58px;
    height: 58px;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
}
.style-switcher .switch_presets svg {
    vertical-align: middle;
    margin-right: 1px;
}
.style-switcher .switch_presets:hover svg path{fill:#fff;}

.style-switcher .header{padding: 23px 25px;background:#fff;border-bottom:1px solid #f0f0f0;margin-top:-81px;}
/*.style-switcher .header .header-inner{color:#fff;text-align:center;background:#f5f5f5;text-transform:none;padding:10px 10px 11px;cursor:pointer;border-radius:4px;font-size:14px;line-height:24px;font-weight:bold;}
.style-switcher .header .header-inner svg{margin: 0px 9px 0px 0px;position:relative;top:1px;}
.style-switcher .header .header-inner svg path{fill:#fff;}
.style-switcher .header .header-inner:hover svg{-webkit-animation: spinner .5s ease-out 1;animation: spinner .5s ease 1;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transform-style: preserve-3d;}*/

.style-switcher .header .title{display:none;float:left;font-size:18px;line-height:35px;white-space:nowrap;font-weight:bold;color:#333;}
.style-switcher .header .title svg{margin:7px 19px 0 0;float:left;}
.style-switcher .header .title svg path{fill:#333;}
/*.style-switcher .header .buttons{float:right;font-size:0;}*/
.style-switcher .header .buttons{float:right; font-size:0; display: flex; flex-direction: row-reverse; flex-wrap: wrap-reverse; justify-content: flex-end;}
.style-switcher .header .header-inner{color:#333;text-align:center;text-transform:uppercase;padding:0 17px 0;cursor:pointer;border-radius:4px;font-size:10px;line-height:37px;vertical-align:middle;/*display:inline-block;*/border:1px solid #e1e1e1;letter-spacing:0.8px;display: flex;}
.style-switcher .header .header-inner svg{margin:0px 12px 0px 0px;position:relative;/*top:2px;*/ top: 11px;}
.style-switcher .header .header-inner svg path{fill:#333;}
.style-switcher .header .header-inner:hover svg{-webkit-animation:spinner .5s ease-out 1;animation:spinner .5s ease 1;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;}

/*.style-switcher .header.can_save .header-inner{margin-right:63px;}
.style-switcher .header.can_save .save_btn{background:#f5f5f5;border-radius:4px;font-size:14px;line-height:12px;padding:13px 14px;float:right;cursor:pointer;height:45px;width:45px;}
.style-switcher .header.can_save .save_btn:not(:hover) svg path{fill:#222;}
.style-switcher .header.can_save .save_config_status{display:none;text-align: center;position: absolute;top:18px;color: #fff;text-align: center;background: #28b71d;text-transform: none;padding:10px 10px 11px;
    left: 25px;right: 25px;border-radius:4px;font-size:14px;line-height:24px;}
.style-switcher .header.can_save .save_config_status.error{background:#e62222;}
.style-switcher .header.can_save .save_config_status span{display:inline-block;position:relative;padding:0px 0px 0px 22px;}
.style-switcher .header.can_save .save_config_status span:before{content:"";position:absolute;top:50%;left:0px;background:url('images/apply_settings_ok.svg') 0px 1px no-repeat;width: 20px;height: 16px;margin-top: -9px;}
.style-switcher .header.can_save .save_config_status.error span:before{background:url('images/apply_settings_error.svg') 0px 0px no-repeat;}*/


.style-switcher .header.can_save .header-inner{margin-right:10px;margin-top: 10px; }
.style-switcher .header.can_save .save_btn{background:#eee;border-radius:4px;font-size:10px;text-transform:uppercase;line-height:39px;padding:0 18px;float:right;cursor:pointer;height:39px;vertical-align:middle;/*display:inline-block;*/letter-spacing:0.8px;display: flex;margin-top: 10px; }
.style-switcher .header.can_save .save_btn:hover, .style-switcher .header .header-inner:hover{color:#fff;}
.style-switcher .header.can_save .save_btn svg{margin:0px 12px 0px 0px;position:relative;/*top:3px;*/ top: 10px;}
.style-switcher .header.can_save .save_btn svg path{fill:#333;}
.style-switcher .header.can_save .save_btn:hover svg path, .style-switcher .header .header-inner:hover svg path{fill:#fff;}
.style-switcher .header.can_save .save_config_status{display:none;text-align:center;position:absolute;top:18px;color:#fff;text-align:center;background:#28b71d;text-transform:none;padding:10px 10px 11px;
    left:25px;right:25px;border-radius:4px;font-size:14px;line-height:24px;}
.style-switcher .header.can_save .save_config_status.error{background:#e62222;}
.style-switcher .header.can_save .save_config_status span{display:inline-block;position:relative;padding:0px 0px 0px 22px;}
.style-switcher .header.can_save .save_config_status span:before{content:"";position:absolute;top:50%;left:0px;background:url('images/apply_settings_ok.svg') 0px 1px no-repeat;width:20px;height:16px;margin-top:-9px;}
.style-switcher .header.can_save .save_config_status.error span:before{background:url('images/apply_settings_error.svg') 0px 0px no-repeat;}

.style-switcher form, .style-switcher form>div{height:100%;/*overflow-y:scroll;*/position:relative;}
.style-switcher .block-inner{/*overflow-x:hidden;overflow-y:auto;*/height:100%;}

.style-switcher .presets{position:absolute;left:0;top:0;width:100%;z-index:10;background-color:#fff;height:100%;display:none;}
.style-switcher .presets.active{display:block;}
.style-switcher .presets .options{padding:30px 17px;height:100%;}
.style-switcher .presets .options .items{display:flex;flex-wrap:wrap;flex-direction:row;}
.style-switcher .presets .options .item{margin:0 0 16px 0;padding:0 8px;}
.style-switcher .options .link-item.preset-block{padding:29px 29px 22px;position:relative;display:block;height:100%;border:1px solid #e2e2e2;margin:0;}
.style-switcher .options .preset-block.current{border-width:2px;padding:28px 28px 21px;}
.style-switcher .options .link-item.preset-block .image{text-align:center;width:258px;max-height:191px;overflow:hidden;margin:0 auto 15px;max-width:100%;}
.style-switcher .options .link-item.preset-block .image img{vertical-align:middle;max-height:100%;max-width:100%;border:1px solid #e3e3e3;border-radius:2px;margin:0 auto;}
.style-switcher .options .link-item.preset-block .info{text-align:center;}
.style-switcher .options .link-item.preset-block.no_img .info{padding-left:0;margin-top:0;}
.style-switcher .options .link-item.preset-block .title{font-weight:bold;color:#333;margin:0;font-size:13px;line-height:18px;}
.style-switcher .options .link-item.preset-block .description{color:#777;margin:3px 0 0;font-size:13px;line-height:20px;}
.style-switcher .options .link-item.preset-block .info .icon{right:30px;top:30px;position:absolute;display:block;width:32px;height:32px;border:1px solid #eaeaea;border-radius:50%;transition:border .3s ease,background .3s ease;-moz-transition:border .3s ease,background .3s ease;-ms-transition:border .3s ease,background .3s ease;-o-transition:border .3s ease,background .3s ease;-webkit-transition:border .3s ease,background .3s ease;}
.style-switcher .options .link-item.preset-block .info .icon svg{top:10px;position:absolute;left:9px;}
.style-switcher .options .link-item.preset-block:hover .info .icon path{fill:#fff;}

.style-switcher .left-block{float:left;width:140px;border-right:1px solid #f0f0f0;min-height:100%;background:#f8f8f8;height:100%;}
.style-switcher .left-block .section-block{font-weight:bold;font-size:14px;line-height:18px;padding:21px 25px 22px;border-bottom:1px solid #f0f0f0;text-transform:none;position:relative;}
.style-switcher .left-block .section-block.active{background: #fff;margin-right:-1px;}
.style-switcher .left-block .section-block:hover:not(.active){background:#fcfcfc;}
.style-switcher .left-block .section-block.active:before{content:"";position:absolute;top:0px;width:2px;height:100%;background:#e2e2e2;left:0px;}
.style-switcher .left-block .section-block:not(.active):hover{cursor:pointer;}
.style-switcher .right-block{padding-left:140px;/*background: #f8f8f8;*/height:100%;min-height: 100%;}
.style-switcher .right-block .block-inner{background:#fff;}
.style-switcher .right-block .content-body{padding:25px 25px 0px 26px;background: #fff;border-left: 1px solid #f0f0f0;margin-left: -1px;height:100%;}
.style-switcher .right-block .block-item{display:none;}
.style-switcher .right-block .block-item.active{display:block;padding-bottom:20px;}
.style-switcher .right-block .block-item .item{padding:0px 0px 23px;margin:0px 0px 25px;border-bottom:1px solid #f3f3f3;}
.style-switcher .right-block .block-item .item:last-of-type{margin-bottom:0px;}

.style-switcher .right-block .block-item .item.INDEX_TYPE{border-bottom:none;}

.style-switcher .right-block .block-item .item.borders{border-top:1px solid #f3f3f3;border-bottom-width:0px;margin: 21px 0px 0px;padding: 23px 0px 4px;}
.style-switcher .right-block .block-item .item > .title{font-size:12px;font-weight:bold;padding:0px 0px 12px;text-transform:uppercase;letter-spacing:0.5px;}
.style-switcher .right-block .block-item .item .pull-left + .title{padding-left: 85px;padding-top: 6px;padding-right: 2px;}
.style-switcher .right-block .block-item .item.borders .pull-left + .title{padding-top: 12px;padding-bottom: 11px;}
.style-switcher .right-block .block-item .item .options{font-size:0px;min-height:33px;}
.style-switcher .right-block .block-item .item .options.dependent{padding:10px 0px 0px;}
.style-switcher .right-block .block-item .item .options.dependent + .title{padding-top: 15px;}
.style-switcher .right-block .block-item .item .options > div{font-size:12px;display:inline-block;vertical-align:top;float:none;}

.style-switcher .right-block .block-item .item .options .rows{margin-left:-8px;margin-right:-8px;display:block;font-size:0px;}
.style-switcher .right-block .block-item .item.groups .rows{margin:0px;display:block;font-size:0px;border:1px solid #e2e2e2;border-radius:4px;border-bottom:none;}
.style-switcher .right-block .block-item .item .rows > div{padding-left:8px;padding-right:8px;float:none;display:inline-block;vertical-align:top;}
.style-switcher .right-block .block-item .item.groups .rows > div{padding:0px;}
.style-switcher .right-block .block-item .item.groups .link-item{font-size:13px;border:none;border-bottom:1px solid #e2e2e2;margin:0px;box-shadow: none;padding: 18px 23px 23px;border-radius: 0px;}
.style-switcher .right-block .block-item .item.groups .link-item.disabled{background:#fbfbfb;}
.style-switcher .right-block .block-item .item.groups .link-item .img{padding: 15px 0px 0px;}
.style-switcher .right-block .block-item .item.groups .link-item .input{min-height:22px;padding: 20px 0px 0px;}
.style-switcher .right-block .block-item .item.groups .link-item .input .on-off-switch{margin:auto;}
.style-switcher .right-block .block-item .item.groups .link-item img{margin:auto;}

.style-switcher .right-block .block-item .item .options .group{display:block;background:url("images/dott.png") 0px 16px repeat-x;padding:0px 0px 4px;}
.style-switcher .right-block .block-item .item .options .group:last-of-type{padding-bottom:0px;}
.style-switcher .right-block .block-item .item .options .group .title{font-size:13px;float:left;padding: 3px 10px 0px 0px;background: #fff;max-width:100px;}
.style-switcher .right-block .block-item .item .options .group .values{padding:0px 0px 0px 102px;}
.style-switcher .right-block .block-item .item .options .group .values .inner-values{background:#fff;padding:0px 0px 0px 10px;font-size:0px;}
.style-switcher .right-block .block-item .item .options input[type=checkbox]{display:none;}
.style-switcher .options .base_color > span{cursor:pointer;border-radius:100%;background:#fff;overflow:hidden;padding:5px;width:38px;height:38px;margin:0px 7px 7px 0px;border:1px solid #e2e2e2;display:block;}
.style-switcher .options .base_color:not(.current) > span:hover{box-shadow: 0px 0px 15px rgba(0,0,0,0.15);border-color:#fff;}
.style-switcher .options[data-code="BASE_COLOR"] > div.current > span, .style-switcher .options[data-code="BASE_COLOR"] > div.current > span:hover,
.style-switcher .options[data-code="BGCOLOR_THEME"] > div.current > span, .style-switcher .options[data-code="BGCOLOR_THEME"] > div.current > span:hover{border:2px solid #333;padding:4px;background:#fff;}
.style-switcher .options .base_color span span{border-radius:100%;display: block;width: 100%;height: 100%;}

.style-switcher .options .base_color_custom{position:relative;}
.base_color_custom > span, .base_color_custom > span span{background-image:url("images/color_picker.png") !important;background-repeat:no-repeat !important;background-position:center center !important;background-size:15px 15px !important;}
.style-switcher .options .base_color_custom > span{border-radius:10px;}
.style-switcher .options .base_color_custom > span span{border-radius:6px;}

.style-switcher .options .link-item{display:inline-block;vertical-align:top;font-size:13px;line-height: 20px;color:#212121;margin:0px 7px 7px 0px;padding:5px 15px 6px;border: 1px solid #e2e2e2;border-radius:4px;}
.style-switcher .options .link-item.block{display:block;margin-bottom:14px;padding: 9px 19px 9px 19px;margin-right:0px;}
.style-switcher .options .link-item.block .inner-table-block span{text-align:left;}
.style-switcher .options .link-item.block:last-of-type{margin-bottom:15px;}
.style-switcher .options .link-item.current:not(.block){color:#fff;border-color:transparent;cursor:default;}
.style-switcher .options .link-item.disabled{cursor:default;}
.style-switcher .options .link-item.current.block{border-width:2px;padding: 8px 18px 8px 18px;}
.style-switcher .options .link-item:not(.current):hover{box-shadow: 0px 0px 15px rgba(0,0,0,0.15);border-color: #fff;}
.style-switcher .options .link-item img, .style-switcher .options .link-item span{display:block;text-align: center;}
.style-switcher .options .rows .link-item span.title{margin:0px -10px;padding-top: 7px;}
.style-switcher .options .link-item img{max-width:100%;max-height:100%;}
.style-switcher .options .link-item span + span{padding:5px 0px;}
.style-switcher .options .rows .link-item span + span{padding:15px 5px;}
.style-switcher .options .link-item .inner-table-block{display:table-cell;vertical-align:middle;}
.style-switcher .options .link-item .inner-table-block:first-of-type{width:10px;padding: 0px 20px 0px 0px;}
.style-switcher .options .link-item .inner-table-block img{max-width: 100%;}

.style-switcher .sup-params.options{display:none;}
.style-switcher .sup-params.options.active{display:block;}
.style-switcher .block-title{padding: 5px 0px;}
.style-switcher .block-title .dotted-block{display:inline-block;border-bottom:1px dotted;cursor:pointer;font-size:13px;line-height: 16px;display:none;}
.style-switcher .block-title .dotted-block:hover{color:#333;}
.style-switcher .right-block .block-item .item .sup-params.options > div{display:block;}
.style-switcher .right-block .block-item .item .sup-params.options .values{display:none;margin:5px 0px;border:1px solid #e2e2e2;border-radius:4px;}
.style-switcher .right-block .block-item .item .sup-params.options > .templates_block{display:none;padding-top:40px;}
.style-switcher .right-block .block-item .item .sup-params.options.active > .values,
.style-switcher .right-block .block-item .item .sup-params.options.active > .templates_block{display:block;}
.style-switcher .right-block .block-item .item .sup-params.options .values .option-wrapper{border-bottom:1px solid #e2e2e2;padding:12px 50px 14px 25px;position:relative;}
.style-switcher .right-block .block-item .item .sup-params.options .values .option-wrapper:first-of-type{border-radius:4px 4px 0px 0px;}
.style-switcher .right-block .block-item .item .sup-params.options .values .option-wrapper:last-of-type{}
.style-switcher .right-block .block-item .item .sup-params.options .values .option-wrapper.disabled{background:#fbfbfb;}

.style-switcher .right-block .block-item .item .sup-params.options .values table{width:100%;}
.style-switcher .right-block .block-item .item .sup-params.options .values td{vertical-align:middle;}
.style-switcher .right-block .block-item .item .sup-params.options .values .disabled td{opacity:0.5;}
.style-switcher .right-block .block-item .item .sup-params.options .values table td:first-child{width:30px;}
.style-switcher .right-block .block-item .item .sup-params.options .values table td:last-child{width:125px;text-align:right;opacity:1;}
.style-switcher .right-block .block-item .item .sup-params.options .values table .on-off-switch{display:inline-block;vertical-align:middle;}
.style-switcher .right-block .block-item .item .sup-params.options .values .apply-block{padding:20px 25px 10px;text-align:center;}
.style-switcher .right-block .block-item .item .sup-params.options .values .apply-block .btn{font-size:13px;}
.style-switcher .btn-ajax-block{position: absolute;top: 0px;right: -81px;opacity:0;display:none;}
.style-switcher .btn-ajax-block .btn{margin:0px;font-size:13px;}

.style-switcher .inner-wrapper{counter-reset: counter-blocks;}
.style-switcher .inner-wrapper .option-wrapper{background:#fff;}
.style-switcher .option-wrapper.no_drag .drag{display:none;}
.style-switcher .option-wrapper .drag{opacity:0.4;text-align: center;position:absolute;right:13px;top:50%;margin-top:-8px;width:20px;height:20px;cursor: move;cursor: -webkit-grabbing;}
.style-switcher .option-wrapper.sortable-chosen .drag, .style-switcher .option-wrapper .drag:hover{opacity:1;}
.style-switcher .inner-wrapper .option-wrapper.sortable-ghost, .style-switcher .inner-wrapper .option-wrapper.sortable-fallback{border-bottom-width:0px;}
.style-switcher .inner-wrapper .option-wrapper.sortable-fallback{border:1px solid #e2e2e2;border:none !important;box-shadow:0px 0px 0px 1px #e2e2e2 inset;opacity:1 !important;}
.sortable-ghost{height:63px;}
.sortable-ghost > *{display:none;}
.style-switcher .inner-wrapper .option-wrapper:not(.sortable-fallback) table tr td:first-child .blocks:before{counter-increment: counter-blocks;content: counter(counter-blocks);display:block;}
.style-switcher .inner-wrapper .option-wrapper.sortable-fallback table tr td:first-child .blocks:before{content: "-";display:block;}

.style-switcher .tooltip-link{background:#efefef;border: 1px solid #e2e2e2;font-size:10px;font-weight:normal;padding:0px;margin:0px 0px 0px 10px;border-radius:50%;color:#333;width: 15px;height: 15px;display: inline-block;line-height: 12px;text-align: center;position: relative;top: -1px;cursor:pointer;}
.style-switcher .tooltip{visibility:hidden;}
.style-switcher .tooltip.fade.in{opacity:1;visibility:visible;}
.style-switcher .tooltip.fade.top .tooltip-arrow{border-top-color:#fff;}
.style-switcher .tooltip.fade.right .tooltip-arrow{border-right-color:#fff;}
.style-switcher .tooltip.fade.bottom .tooltip-arrow{border-bottom-color:#fff;}
.style-switcher .tooltip.fade .tooltip-inner{color:#666666;font-size:13px;line-height:20px;text-transform:none;background:#fff;box-shadow: 0px 0px 25px rgba(0,0,0,0.2);font-weight:normal;padding:18px 20px;max-width:290px;text-align:left;letter-spacing: 0px;}
.style-switcher .tooltip-link:hover{color:#fff;}

.sp-container.custom_picker_container{background:#4b5b62 none repeat scroll 0 0;border:1px solid #3e484e;box-shadow:-5px 10px 30px #2c393f;left:0px !important;position:absolute !important;top:auto !important;z-index:3002;height:240px;}
.sp-container.custom_picker_container .sp-input{background:#f7f7f7 none repeat scroll 0 0;}
.sp-replacer.custom_picker_replacer{display:none;}
.sp-container.custom_picker_container .sp-picker-container{border:none;}
.sp-container.custom_picker_container .sp-choose{width:73px;background:#252d31 none repeat scroll 0 0;border:1px solid #252d31;border-radius:2px;box-sizing:border-box;color:#fdfdfd;display:inline-block;line-height:25px;margin:3px 0 6px 0;padding:0 10px;text-align:center;text-decoration:none;text-shadow:1px 1px 0 rgba(0,0,0,0.2);text-transform:none;vertical-align:top;-webkit-transition:all ease-out 0.2s;-moz-transition:all ease-out 0.2s;-o-transition:all ease-out 0.2s;transition:all ease-out 0.2s;font-size:12px;}
.sp-container.custom_picker_container .sp-choose:hover{background:#364247 none repeat scroll 0 0;}
.sp-container.custom_picker_container .sp-cancel{color:#ffffff !important;display:inline-block;margin:5px 5px 0 0;vertical-align:top;*display:inline;zoom:1;text-decoration:none;}
.sp-container.custom_picker_container .sp-cancel:hover{text-decoration:underline !important;border:none;}
.sp-container.custom_picker_container .sp-input:focus{border-color:transparent;}

/*scrollbars */
.style-switcher form::-webkit-scrollbar{width: 8px;}
.style-switcher form::-webkit-scrollbar-track{border-radius: 8px;}
.style-switcher form::-webkit-scrollbar-thumb{border-radius: 8px;background:#999;border:2px solid #fff;}
.style-switcher form::-webkit-scrollbar-thumb:window-inactive {background:#999;border:2px solid #fff;}

/* switch */
.on-off-switch{position:relative;user-select:none;}
.on-off-switch-track{position:absolute;border:solid #fff;z-index:1;background-color:#fff;overflow:hidden;box-sizing: content-box;top: 50%;margin-top:-8px;cursor:pointer;}

/* semi transparent white overlay */
.on-off-switch-track-white{}
/* Track for "on" state */
.on-off-switch-track-on{background-color:#1ab700;border-color:#1ab700;position:absolute;z-index:10;overflow:hidden;}
/* Track for "off" state */
.on-off-switch-track-off{position:absolute;border:1px solid #e2e2e2;background-color:#f5f5f5;z-index:1;}

.on-off-switch-thumb{position:absolute;z-index:2;cursor:pointer;}
.on-off-switch-thumb-shadow{position:absolute;}
.track-on-gradient, .track-off-gradient{}

.on-off-switch-thumb-color{background-color:#fff;position:absolute;box-shadow:0px 2px 7px rgba(0,0,0,0.2);}

.on-off-switch-thumb-off{position:absolute;}
.on-off-switch-thumb-on{z-index:10;}
.on-off-switch-text{width:100%;position:absolute;font-family:arial;user-select:none;font-size:10px;}

.on-off-switch-text-on{color:#FFF;text-align:left;}
.on-off-switch-text-off{color:#000;text-align:right;}
/* Mouse over thumb effect */
.on-off-switch-thumb-over{}

.hint-theme{position:fixed;left: 180px;top: 210px;max-width:470px;color:#fff;font-size:14px;}
.hint-theme:before{position:absolute;top:-120px;left:-94px;content:"";width:101px;height:98px;background:url(images/strel.png) 0px 0px no-repeat;}
.hint-theme p{opacity:0.7;}
.hint-theme h4{font-size:22px;color:#fff;margin-bottom: 18px;margin-top:0px;}
.hint-theme .btn-block{margin: 33px 0px 0px;}
.hint-theme .btn-block .btn{margin:0px;padding-left:48px;padding-right:48px;}

.mCSB_scrollTools .mCSB_draggerRail {
    background: none;
}
.style-switcher .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #999!important;
    border-radius: 2px;
}
.style-switcher .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 4px;
}
.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 100%;
    height: 30px;
    z-index: 1;
}
.style-switcher .mCSB_scrollTools {
    width: 8px;
    z-index: 3;
    opacity: 1;
}


@media (min-width:992px){
    .style-switcher .right-block .block-item .item.groups .rows > div:nth-child(2n+1) .link-item{border-right:1px solid #e2e2e2;}
}
@media (max-width:991px){
    .style-switcher .right-block .block-item .item.groups .rows > div{display: block;}
}
@media (min-width:501px) and (max-width:860px){
    .style-switcher{width: 414px;left: -414px;}
    .style-switcher.active.closes{left: -414px}
}
@media (max-width:500px){
    .style-switcher{width: 343px;left: -343px;}
    .style-switcher.active.closes{left: -343px;}
    .style-switcher .right-block .block-item .item .sup-params.options .values .option-wrapper{padding: 10px 15px;}
    .style-switcher .right-block .block-item .item .sup-params.options .values td{display:block;}
    .style-switcher .right-block .block-item .item .sup-params.options .values table td:last-child{width:auto;text-align:left;}
    .style-switcher .right-block .block-item .item .options .group .values{padding: 0px 0px 0px 85px;}
    .style-switcher .options .link-item .inner-table-block img{display:none;}
    .style-switcher .options .link-item.block{display:inline-block;margin-bottom:7px;padding: 5px 15px 6px;margin-right:7px;}
    .style-switcher .options .link-item.block.current{padding: 4px 14px 5px}
    .style-switcher .options .link-item .inner-table-block:first-of-type{width:auto;}
    .style-switcher .right-block .block-item .item .options.pull-left{float:none !important;}
    .style-switcher .right-block .block-item .item .pull-left + .title{padding-left:0px;}

    .hint-theme{left:80px;padding:0px 20px 0px 0px;}
    .hint-theme:before{left:0px;}
}
@media (max-width:432px){
    .style-switcher,.sp-container.custom_picker_container, .jqmOverlay.waiting{display:none;}
}
