.introtext {
  border-bottom-color: #1a5687;
}
.detail .introtext.wides:after {
  background-color: #1a5687;
}
a:hover,
a:focus {
  color: #222;
}
.dark-color:hover,
a.colored,
.colored {
  color: #1a5687;
}
a {
  color: #1a5687;
}
a.colored:hover,
.colored:hover {
  color: #222;
}
a:active {
  color: #0d2a43;
}
a.grey {
  color: #818181;
}
a.grey:hover {
  color: #1a5687;
}
.dark_link:hover {
  color: #1a5687;
}
.btn-inline {
  color: #1a5687;
}
.btn-inline.black:hover {
  color: #1a5687;
}
.btn-inline.rounded:hover i {
  background: #1a5687;
}
body .fa.big-icon {
  background: #1a5687;
}
body .fa.big-icon.grey {
  color: #1a5687;
  background: #efefef;
}
.icon-text {
  color: #fff;
  background: #1a5687;
}
.icon-text .fa {
  color: #fff;
}
.icon-text.grey {
  color: #222;
  background: #efefef;
}
.icon-text.grey .fa {
  color: #1a5687;
}
a.scroll-to-top.ROUND_COLOR,
a.scroll-to-top.RECT_COLOR {
  background-color: #1a5687;
}
a.scroll-to-top.ROUND_COLOR:hover,
a.scroll-to-top.RECT_COLOR:hover {
  background-color: #216ca9;
}
.underline {
  border-bottom: 2px solid #1a5687;
}
blockquote::before {
  color: #1a5687;
}
.review .it:before {
  color: #1a5687;
}
.styled-block {
  border-left-color: #1a5687;
}
.list.icons .fa {
  color: #1a5687;
}
table.table th {
  background-color: #1a5687;
}
hr.colored_line {
  border-color: #1a5687;
}
.bx_filter.compact .bx_filter_parameters_box.set .bx_filter_parameters_box_title:not(.prices) {
  border: 1px solid #1a5687;
  color: #1a5687;
}
.bx_filter.compact .bx_filter_parameters_box .bx_filter_parameters_box_title .text:hover {
  color: #1a5687;
}
.bx_filter.compact .bx_filter_parameters_box.set .bx_filter_parameters_box_title:not(.prices) svg * {
  fill: #1a5687;
}
.btn.btn-default {
  background-color: #1a5687;
  border-color: #1a5687;
  color: #ffffff;
}
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:focus {
  background-color: #1f66a1;
  border-color: #1f66a1;
}
.btn.btn-default.white {
  color: #1a5687 !important;
  border: 1px solid #70b0e3;
  background: #ffffff;
}
.btn.btn-default.btn-transparent-bg:not(:hover) {
  color: #1a5687 !important;
}
.btn.btn-default.white:hover,
.btn-default.white:active,
.btn-default.white:focus {
  color: #ffffff !important;
  border-color: #1a5687;
  background: #1a5687;
}
.btn.btn-default.white.white-bg:hover,
.btn-default.white.white-bg:active,
.btn-default.white.white-bg:focus {
  color: #1a5687 !important;
  border-color: #1a5687;
  background: #fff;
}
.btn.btn-primary {
  background-color: #00b290;
  border-color: #00b290;
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background-color: #30c4a8;
  border-color: #30c4a8;
}
.btn.btn-success {
  background-color: #84bc29;
  border-color: #84bc29;
}
.btn.btn-success:hover,
.btn.btn-success:active,
.btn.btn-success:focus {
  background-color: #9dca53;
  border-color: #9dca53;
}
.btn.btn-info {
  background-color: #0ca9e3;
  border-color: #0ca9e3;
}
.btn.btn-info:hover,
.btn.btn-info:active,
.btn.btn-info:focus {
  background-color: #39baec;
  border-color: #39baec;
}
.btn.btn-warning {
  background-color: #f38b04;
  border-color: #f38b04;
}
.btn.btn-warning:hover,
.btn.btn-warning:active,
.btn.btn-warning:focus {
  background-color: #f8a132;
  border-color: #f8a132;
}
.btn.btn-danger {
  background-color: #dc130d;
  border-color: #dc130d;
}
.btn.btn-danger:hover,
.btn.btn-danger:active,
.btn.btn-danger:focus {
  background-color: #e63f3a;
  border-color: #e63f3a;
}
.btn.btn-transparent {
  background-color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
  color: #000000;
}
.btn.btn-transparent:hover,
.btn.btn-transparent:active,
.btn.btn-transparent:focus {
  background-color: #1f66a1;
  border-color: #1f66a1;
}
.btn.btn-transparent:hover {
  color: #ffffff;
}
.btn.btn-responsive-nav {
  background-color: #1a5687;
}
.btn.btn-responsive-nav:hover {
  color: #1a5687;
  border: 1px solid #1a5687;
  background-color: #ffffff;
  padding: 4px 7px 2px;
}
.btn.btn-link {
  color: #1a5687;
  border-color: #70b0e3;
}
.btn.btn-link:hover {
  color: #1f66a1;
  border-color: transparent;
}
.btn.btn-link:active {
  color: #0d2a43;
}
.btn.btn-default.wc.vert .fa {
  background-color: #1a5687;
}
.btn.btn-default.wc.vert:hover .fa {
  background-color: #1f66a1;
}
.btn.btn-transparent-border:hover {
  background-color: #1a5687;
  border: 1px solid #1a5687;
}
body header.light .logo_and_menu-row .confirm_region .buttons .btn.btn-default.btn-transparent-bg:not(:hover) {
  color: #1a5687 !important;
}
body .confirm_region .btn.btn-default:not(:hover) {
  border-color: #1a5687 !important;
}
.label.label-default {
  background: #93a6bc;
}
.label.label-primary {
  background: #b8c2cd;
}
.label.label-success {
  background: #5cb85c;
}
.label.label-warning {
  background: #f0ad4e;
}
.label.label-danger {
  background: #d9534f;
}
.top-block.colored {
  background: #1a5687;
}
.top-block .social-icons li a:hover:before {
  background-color: #1a5687;
}
.top-block .top-block-item  .inline-search-show:hover>span {
  color: #1a5687;
}
.logo.colored img,
header .line-row,
#mobileheader .logo.colored img {
  background-color: #1a5687;
}
.top-block .top-block-item .personal.top:hover > a {
  color: #1a5687;
}
.top-block .top-block-item .personal.top:hover > a svg path {
  fill: #1a5687;
}
.logo-row .top-callback .phone .fa,
.logo-row .top-callback .email .fa {
  background-color: #1a5687;
}
.logo-row .top-callback .email,
.logo-row .top-callback .email a:hover {
  color: #1f66a1;
}
.inline-search-block.fixed.big .search .close-block:hover .close-icons {
  background-color: #1f66a1;
}
#mobileheader .mobileheader-v2 {
  background: #1a5687;
}
#mobilemenu .menu ul>li.selected a:before {
  background: #1a5687;
}
#mobilemenu .contacts a:hover {
  color: #1a5687;
}
#mobilemenu .menu>ul>li.counters .count {
  background: #1a5687;
}
.style-switcher .switch:hover,
.style-switcher .switch_presets:hover,
.style-switcher .header.can_save .save_btn:hover {
  background: #1a5687;
}
.style-switcher .header .header-inner:hover {
  background: #1a5687;
}
.style-switcher .parametrs .options > a.current:not(.block),
.style-switcher .parametrs .options .link-item.current:not(.block) {
  background: #1a5687;
}
.style-switcher .presets .options .link-item.current {
  border-color: #1a5687;
}
.style-switcher .options .link-item.current.block {
  border-color: #1a5687;
}
.style-switcher .tooltip-link:hover {
  background: #1a5687;
  border-color: #1a5687;
}
.style-switcher .options[data-code="BASE_COLOR"] > div.current > span,
.style-switcher .options[data-code="BASE_COLOR"] > div.current > span:hover {
  border-color: #1a5687;
}
.style-switcher .options[data-code="BGCOLOR_THEME"] > div.current > span,
.style-switcher .options[data-code="BGCOLOR_THEME"] > div.current > span:hover {
  border-color: #1a5687;
}
.style-switcher .left-block .section-block.active:before {
  background: #1a5687;
}
.style-switcher .block-title .dotted-block {
  color: #1a5687;
}
.top-block .search .search-wrapper {
  background: #1a5687;
}
.menu-row .search-button-div .fa-close:hover {
  color: #1f66a1;
}
.search .btn-search {
  color: #1a5687;
}
.mega-menu ul.nav li.active,
.mega-menu ul.nav li:hover {
  background-color: #1a5687;
}
.mega-menu table td.active .wrap > a,
.mega-menu table td:not(.search-item):hover .wrap > a {
  color: #1a5687;
}
.topmenu-LIGHT .mega-menu table td.active .wrap > .more-items span:before,
.topmenu-LIGHT .mega-menu table td:not(.search-item):hover .wrap > .more-items span:before {
  background-color: #1a5687;
}
.mega-menu table td .wrap > a .line-wrapper .line {
  background-color: #1a5687;
}
.topmenu-LIGHT .mega-menu table .tail {
  border-bottom: 6px solid #174b76;
}
.mega-menu table .dropdown-menu li > a:hover,
.mega-menu table .dropdown-submenu > a:hover:after {
  color: #1a5687;
}
.mega-menu table .dropdown-menu li.active > a,
.mega-menu table .dropdown-submenu.active > a,
.mega-menu table .dropdown-submenu.active  > a:after {
  color: #1a5687;
}
.mega-menu table  .wrap > .dropdown-menu > li:first-of-type:before {
  background-color: #1a5687;
}
.marker-nav {
  background-color: #1a5687;
}
.mega_fixed_menu .mega-menu table .wrap > .dropdown-menu .dropdown-submenu > a:hover>.arrow>i {
  background-color: #1a5687;
}
.mega_fixed_menu .svg.svg-close:hover {
  background-color: #1a5687;
}
.inline-search-block.bg-colored-block.show {
  background-color: #1a5687;
}
.menu-row.bgcolored .wrap_icon:hover {
  background-color: #1f66a1;
}
.logo_and_menu-row .burger:hover .svg-burger {
  background-color: #1f66a1;
}
body .basket-link.basket-count .count {
  background-color: #1a5687;
}
.logo_and_menu-row .basket-link:hover .title {
  color: #1a5687;
}
.top-block-item  .basket-link:hover  .title {
  color: #1a5687;
}
.title-v5 .basket.fly .opener {
  background-color: #1d6198;
}
.title-v5 .basket.fly .opener:hover {
  background-color: #2271b2;
}
.top-btn:hover .svg {
  background-color: #1a5687;
}
a:hover .svg:not(.inline) {
  background-color: #1a5687;
}
.svg.colored svg path {
  fill: #1a5687;
}
.logo svg path.icon-path {
  fill: #1a5687;
}
.social-icons li a:hover svg path,
.header_opacity.header_fill_none header.light > div:not(.menu-row) .social-icons li a:hover svg path {
  fill: #1a5687 !important;
}
.menu-row.with-color.colored_dark .wrap_icon:hover .svg svg path,
.wrap_icon:hover .svg.inline svg path {
  fill: #1a5687;
}
#mobileheader .wrap_icon #mobilePhone .svg.inline:hover svg path {
  fill: #1a5687;
}
#mobileheader .wrap_icon #mobilePhone .callback_wrap:hover {
  color: #1a5687;
}
#mobileheader .wrap_icon #mobilePhone .callback_wrap:hover .svg-inline-call svg path {
  fill: #1a5687;
}
#mobileheader .wrap_icon .wrap .callback_wrap:hover .callback-block {
  color: #1a5687;
}
.fill_bg_n.header_fill_colored header .logo_and_menu-row.full-fill .logo-row,
.header_fill_colored header .logo_and_menu-row.full-fill .logo-row .maxwidth-theme {
  background: #1a5687;
}
.menu-row.with-color.colored_dark .mega-menu table td.active .wrap > a,
.menu-row.with-color.colored_dark .mega-menu table td:hover .wrap > a,
.menu-row.with-color.colored_dark .mega-menu table td .wrap > a:hover {
  color: #1a5687;
}
.menu-row.bgcolored .mega-menu table td:hover {
  background-color: #1f66a1;
}
.menu-row.bgcolored .mega-menu table td.active {
  background-color: #134065;
}
.menu-row.bgcolored > .maxwidth-theme .menu-only {
  background-color: #1a5687;
}
body.header_nopacity.header_fill_colored.fill_bg_y header .menu-row > .maxwidth-theme,
body.header_nopacity.header_fill_colored.fill_bg_n header .menu-row {
  background-color: #1a5687;
}
.top-block .menu.topest li.selected>a,
.top-block .menu.topest li:hover >a {
  color: #1a5687;
}
body:not(.header_fill_colored) .mega-menu table td .wrap > a.more-items:hover svg path {
  fill: #1a5687 !important;
}
body:not(.header_fill_colored) .mega-menu table td:hover > .wrap > a.more-items svg path {
  fill: #1a5687 !important;
}
.header_opacity header.light .nav a:hover svg path {
  fill: #1a5687 !important;
}
.header_opacity.header_fill_light header.light > .full-fill .logo svg path {
  fill: #1a5687 !important;
}
.menu-row .mega-menu table td.wide_menu > .wrap > .dropdown-menu > li > .dropdown-menu li a {
  color: #1a5687;
}
.header_nopacity.header_fill_colored .logo_and_menu-row .menu-row .basket-link .count {
  border-color: #1a5687;
}
.wrap_tizer .wrap_outer,
.wrap_tizer .wrap_outer .outer_text,
.wrap_tizer .wrap_outer .inner_text {
  background: #1a5687;
}
.header_fill_colored.fill_bg_n header .top-block + .logo_and_menu-row .logo-row,
.header_fill_colored header .top-block + .logo_and_menu-row .logo-row .maxwidth-theme {
  background-color: #1a5687;
}
body header.light .wrap_icon:hover .svg.inline svg path {
  fill: #1a5687 !important;
}
body.header_opacity.header_fill_none header.light .top-block .svg.colored svg path,
body header.light .top-block .personal:hover .svg svg path {
  fill: #1a5687 !important;
}
body.header_opacity header.light i.colored.svg svg path {
  fill: #1a5687 !important;
}
#mobilemenu .expanded>.dropdown .menu_back a:hover svg path {
  fill: #1a5687;
}
.rss:hover,
.body .page-top .print-link:hover {
  background-color: #1a5687;
}
.personal-link:hover svg path {
  fill: #1a5687;
}
.catalog .bx_filter_section .bx_filter_block .pict label:hover,
.catalog .bx_filter_section .bx_filter_block .pict label.active {
  border-color: #1a5687;
}
.catalog .bx_filter_section .bx_filter_block .bx_filter_param_label:hover .bx_filter_param_btn,
.catalog .bx_filter_section .bx_filter_block .bx_filter_param_label.active .bx_filter_param_btn {
  border-color: #1a5687;
}
#headerfixed .menu-block.rows:hover {
  background-color: #1a5687;
}
#headerfixed .menu-block .navs td:not(.wide_menu) ul li.active > a,
#headerfixed .menu-block .navs td:not(.wide_menu) ul li a:hover,
#headerfixed .menu-block .navs td:not(.wide_menu) ul li a:focus {
  color: #1a5687;
}
.wrap-portfolio-front {
  background: #1a5687;
}
.head-block .item-link.active .title,
.head-block .item-link.active span,
.head-block .item-link.active .btn-inline,
.head-block .item-link:hover span {
  color: #1a5687;
}
.head-block .item-link.active .title span:before,
.head-block .item-link.active .title .btn-inline:before {
  background: #1a5687;
}
.items-link-mobile-wrap .new-select__item.active span:before {
  background: #1a5687;
}
.search-tags-cloud .tags a:hover {
  background: #1a5687;
}
.basket_top .dropdown {
  border-color: #1a5687;
}
.basket_top .dropdown:before {
  border-bottom-color: #1a5687;
}
.remove:hover:before {
  background-color: #1a5687;
}
.basket_order .description:before {
  background: #1a5687;
}
.basket.fly .opener {
  background: #1a5687;
}
.basket.fly .opener:hover {
  background: #1f66a1;
}
.breadcrumb a:hover {
  color: #222;
}
.breadcrumb a:active {
  color: #0d2a43;
}
.breadcrumb li:hover > a {
  color: #1f66a1;
}
.pagination .active a,
.pagination .active span {
  border-color: #1a5687 !important;
  background-color: #1a5687 !important;
}
.pagination li:not(.active):hover a {
  border-color: #1a5687 !important;
  color: #1a5687;
}
.pagination a:hover .fa {
  color: #1a5687;
}
.pagination li.prev:hover a svg path,
.pagination li.next:hover a svg path,
.more_text_ajax svg path {
  fill: #1a5687;
}
.item-views.blocks h3.line:after {
  background: #1a5687;
}
.nav-direction .flex-direction-nav li a {
  background: #1a5687;
}
.nav-direction .flex-direction-nav li a:hover {
  background: #1f66a1;
}
.show_props .char_title:hover svg path {
  fill: #1a5687;
}
.cls-cluster2 {
  fill: #1a5687;
}
.contacts-page-map-top.projects .bx-yandex-view-layout .pane_info .section_name {
  color: #1a5687;
}
.detail .galery .top-small-wrapper .slides li.flex-active-slide {
  border-color: #1a5687;
}
.bottom-menu .item:hover .title a,
.bottom-menu .item:hover .title,
.bottom-menu .item.active .title a,
.bottom-menu .item.active .title {
  color: #1f66a1 !important;
}
footer .print-link:hover {
  color: #1f66a1;
}
footer .print-link:hover svg path {
  fill: #1f66a1;
}
.social-icons li:hover a {
  border-color: #1f66a1;
  background-color: transparent;
}
.side-menu > li > a:hover,
.side-menu li > a:hover:before,
.side-menu li > a:active:before,
.side-menu li > a:focus:before {
  color: #1f66a1;
}
.side-menu > li.active > a {
  background: #1a5687;
}
.side-menu .submenu > li.active > a {
  color: #174b76;
}
.side-menu .submenu > li > a:hover {
  color: #1f66a1;
}
.side-menu > li > a:hover .icons svg path {
  fill: #1f66a1;
}
.tabs .nav-tabs li.active a {
  color: #1a5687;
}
.tabs .nav-tabs li.active a:before {
  background: #1a5687;
}
.tabs .nav-tabs a:hover,
.tabs .nav-tabs a:active,
.tabs .nav-tabs a:focus {
  color: #1a5687;
}
.active .title-tab-heading,
.title-tab-heading:focus,
.title-tab-heading:active,
.title-tab-heading:hover {
  color: #1a5687;
}
.accordion-head.accordion-open a,
.accordion-head:hover a {
  color: #1a5687;
}
.detail .gallery-block .small-gallery ul.items li.flex-active-slide,
.detail .gallery-block .small-gallery ul.items li:hover {
  border-color: #1a5687;
}
.flex-direction-nav a:hover,
.flex-direction-nav a:hover::before {
  color: #1f66a1;
  border-color: #1f66a1;
}
.color-controls .flex-direction-nav a {
  background: #1a5687;
}
.color-controls .flex-direction-nav a:hover {
  background: #1f66a1;
}
span.zoom {
  background-color: #1a5687;
}
span.zoom:hover {
  background-color: #1f66a1;
}
.wr_scrollbar .scrollbar .handle {
  background: #1a5687;
}
.page404 .i404 {
  color: #1a5687;
}
.jqmClose.top-close:hover {
  color: #1f66a1;
}
.form.contacts .title {
  border-color: #1a5687;
}
.form .form-header {
  border-top-color: #1a5687 !important;
}
.form-header i {
  background: #1a5687;
}
.banners-small .item .title a:hover,
.more_text_ajax:hover {
  color: #1a5687 !important;
}
.more_text_ajax:hover:after {
  background-color: #1a5687;
}
.more_text_ajax:hover svg path,
.ajax_load_btn:hover .more_text_ajax svg path {
  fill: #1a5687;
}
.banners-big.view_2 .slides  li .maxwidth-theme .row .tablet_text {
  background-color: #1a5687;
}
.banners-big.view_2 .flexslider .slides li .wrap .tablet_text .banner_buttons .btn:hover {
  color: #1a5687 !important;
}
.teasers.item-views.front.icons .item a:hover {
  color: #1a5687 !important;
}
.front-projects.item-views.table .item .info {
  border-top-color: #1a5687;
}
.front-projects.item-views.table .item a:hover .info {
  background: #324860;
}
.front-projects.item-views.table .item a:hover .info:before {
  border-bottom-color: #1a5687;
}
.item-views .item .title a:hover {
  color: #1a5687;
}
.uploader:hover .action {
  background-color: #1f66a1;
  border-color: #1f66a1;
}
.uploader .action {
  color: #1a5687;
  border: 1px solid #70b0e3;
}
.form .input .add_file:hover {
  color: #1a5687;
}
.form .input .add_file:hover:before {
  background-color: #1a5687;
}
p.drop-caps:first-child:first-letter {
  color: #1a5687;
}
p.drop-caps.secundary:first-child:first-letter {
  background-color: #1a5687;
}
.label-info {
  background-color: #1a5687;
}
section.toggle label {
  color: #1a5687;
  border-color: #1a5687;
}
section.toggle.active > label {
  background-color: #1a5687;
  border-color: #1a5687;
}
.progress-bar-primary {
  background-color: #1a5687;
}
.slider-container .tp-caption a:not(.btn):hover {
  color: #216ca9;
}
.tp-bullets .bullet.selected,
.tp-bullets .bullet:hover {
  background: #1a5687 !important;
}
.fa.colored {
  background: #1a5687;
}
.docs-block .iblocks:hover .icons-block a,
.iblocks .icons-block a:hover {
  background: #1a5687;
}
.docs-block .iblocks:hover .text-block .text {
  color: #1a5687 !important;
}
.item-views .property.price .fa,
.item-views .property.price .price_val {
  color: #1a5687;
}
.item-views .item:hover .property .fa {
  color: #1a5687;
}
.link-block-more .dark-color:hover:before {
  background: #1a5687;
}
.tabs.item-views.table .title,
.history.item-views.table .title {
  color: #1a5687;
}
.history.item-views .title {
  color: #1a5687;
}
.detail .galery #slider.flexslider:hover .flex-direction-nav {
  background: #1f66a1;
}
.detail .galery #carousel .slides li.flex-active-slide {
  border-color: #1a5687;
}
.detail .reviews .item .review .icons:before {
  color: #1a5687;
}
.detail .galery #carousel .flex-direction-nav a:hover::before {
  color: #1a5687;
}
.catalog.group .price .price_val {
  color: #1a5687;
}
.select-outer i.fa {
  color: #1a5687;
}
.item-views.table.bblock .item .info {
  border-top-color: #1a5687;
}
.popup_regions .items .item.current {
  background: #1a5687;
}
#headerfixed .nav-pills>li.active>a,
#headerfixed .nav>li>a:focus,
#headerfixed .nav>li>a:hover,
#headerfixed .nav-pills>li.active>a,
#headerfixed .nav-pills>li.active>a:focus,
#headerfixed .nav-pills>li.active>a:hover,
#headerfixed .dropdown-menu>.active>a,
#headerfixed .dropdown-menu>.active>a:focus,
#headerfixed .dropdown-menu>.active>a:hover,
#headerfixed .dropdown-menu>li>a:focus,
#headerfixed .dropdown-menu>li>a:hover {
  color: #1a5687;
}
.item .sticker-block {
  color: #1a5687;
}
.news_block .item .sticker {
  background: #1a5687;
}
.reviews.item-views.slider .item .preview-text-wrapper .quote svg path {
  fill: #1a5687;
}
.profit-front-block .item .image {
  background: #1a5687;
}
.item-views .item .title a.colored {
  color: #1a5687;
}
.float-banners.v2 .item:hover:after {
  background: #1a5687;
}
.marker .mcls-1 {
  fill: #1a5687;
}
.bx-yandex-view-layout .pane_info_wrapper .pane_info .email a:hover {
  color: #1a5687;
}
.marker:hover .mcls-1 {
  fill: #216ca9;
}
.portfolio.item-views .link .item,
.portfolio.item-views .link .item .bottom_title .btn-default,
.btn-default.white_br.white {
  background: #1a5687 !important;
}
.portfolio.item-views .link .item .bottom_title .btn-default:hover span {
  color: #1a5687;
}
.item.wline:after {
  background: #1a5687;
}
.dark-nav2 .flex-control-paging li a:hover,
.dark-nav2 .flex-control-paging li a.flex-active {
  background: #1a5687;
}
.banners-big .nav-carousel .flex-direction-nav li:hover {
  background: #1a5687;
}
.reviews.item-views.front .item .image:before {
  background-color: #1a5687;
}
.item-views .item .bottom-props .value {
  background-color: #1a5687;
}
.item-views .item .bottom-props > a:hover {
  background-color: #1f66a1;
}
.detail.staff .bottom-props .value {
  background-color: #1a5687;
}
.detail.staff .bottom-props > a:hover {
  background-color: #1f66a1;
}
.filter-action.active,
.display-type .view-button:hover,
.display-type .view-button.cur {
  background-color: #1a5687;
}
.bx_filter .bx_ui_slider_range,
.bx_filter .bx_ui_slider_pricebar_V,
.bx_filter.bx_filter_vertical .bx_filter_popup_result {
  background-color: #1a5687;
}
.bx_filter .bx_ui_slider_track .bx_ui_slider_handle {
  border-color: #1a5687;
}
.catalog.bx_filter .bx_filter_parameters_box_title:hover:before,
.catalog.bx_filter .bx_filter_parameters_box_title:hover {
  color: #1a5687;
}
.bx_filter input[type="checkbox"] + label:before,
.filter input[type="radio"] + label:before,
.bx_filter .bx_filter_select_arrow,
.common_select .common_select-link .trigger {
  background-color: #1a5687;
}
.bx_filter input[type="checkbox"]:checked + label:after,
.filter input[type="checkbox"]:checked + label:after {
  background-color: #1a5687;
  border-color: #1a5687;
}
.bx_filter_section .btn.btn-transparent {
  color: #1a5687;
}
.subscribe-edit-main .form input[type=checkbox] + label:hover:after,
.subscribe-edit-main .form input[type=checkbox]:checked + label:after,
.subscribe-edit-main .form input[type=radio] + label:hover:after,
.subscribe-edit-main .form input[type=radio]:checked + label:after {
  background-color: #1a5687;
  border-color: #1a5687;
}
.subscribe-edit-main font.notetext {
  border-color: #1a5687;
}
@media (max-width: 767px) {
  .basket_top .icon .count {
    background: #1a5687 !important;
  }
  .banners-big.view_2 .slides {
    background-color: #1a5687;
  }
}
.page-top-wrapper.color {
  background: #1a5687;
}
.title-v5.fill_bg_y .page-top-wrapper.color > .maxwidth-theme {
  background: #1a5687;
}
