@media(min-width:769px)
{
.image_shine_edit{
	padding: 0px 0 10px 0px !important;
	height:165px !important;
}

.col-md-2_edit {
	padding-left:2px !important;
	padding-right:2px !important;
	padding-bottom:5px !important;
}

.body-info_edit {
	text-align: center !important; 
	padding:0 0 10px 0 !important;
}

.title_edit_my {
	font-size: 15px !important;
	font-weight: 700 !important;
	line-height: 1.2 !important;
	height: 200px !important;
}

.btn-default_edit {
	margin:0 0 0 0 !important;
}
}
