.topnav {
    font-family: "CenturyGothicRegular","Century Gothic",Arial,Helvetica,sans-serif;
    padding: 40px 28px 25px 0;
    width: 213px;
}
ul.topnav {
    font-size: 1em;
    line-height: 0.5em;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.topnav li {
}
ul.topnav li a {
    color: #000;
    display: block;
    font-size: 11px;
    font-weight: bolder;
    line-height: 10px;
    padding: 10px 5px;
    text-decoration: none;
    background: #f2f2f2;
    border-bottom: 1px solid #D3D3D3;
}
ul.topnav li a:hover {
    background-color: #7D7D7D;
    color: white;
}
ul.topnav ul {
    display: none;
    margin: 0;
    padding: 0;
}
ul.topnav ul li {
    clear: both;
    margin: 0;
    padding: 0;
}
ul.topnav ul li a {
    font-size: 10px;
    font-weight: normal;
    outline: 0 none;
    padding-left: 20px;
}
ul.topnav ul li a:hover {
    background-color: #DCDCDC;
    color: #555;
}
ul.topnav ul ul li a {
    color: silver;
    padding-left: 40px;
}
ul.topnav ul ul li a:hover {
    background-color: #D7D7D7;
    color: #555555;
}
ul.topnav span {
    float: right;
}




.acc-head {
	cursor: pointer;
	display:inline-block;
	width:10%;
	text-align:center;
}
 
.acc-body {
	display: none;

}

div.ac-head {
	list-style-type: none !important;
	padding-top: 12px;
	padding-bottom: 12px;
	color: white;
	border-bottom: 1px solid white;

}

div.ac-head:hover {
	background: #0088cc;
}

div.ac-head:before {
	content: none !important;
}

div.ac-head>div>a:hover{
	color: white;
}

.a_edit {
	text-decoration:none !important;
	color:white;
}

.main_ul {
	background: #1a5687;
}

.main_sect {
	background-color:white;
	color:#1a5687;
	border-top: 1px solid #1a5687;
	border-left: 1px solid #1a5687;
	border-right: 1px solid #1a5687;
	padding:12px;
}

.main_sect  > a {
	color:#1a5687;
	font-size: 16px;
	font-weight: bold;
	text-decoration:none;
}

.main_sect  > a > i {
	margin-right: 10px;
}

.a_before {
	display:inline-block;
	width:85%;
}

.is-hov {
	font-weight: 900;
	color: PowderBlue#B0E0E6 !important;
	text-decoration: underline !important;
}

.is-hov1 {
	font-weight: 900;
	color: PowderBlue#B0E0E6 !important;
}