.border-radius( @topleft: 0, @topright: 0, @bottomleft: 0, @bottomright: 0 ){
	-webkit-border-radius: @topleft @topright @bottomright @bottomleft;
	-moz-border-radius: @topleft @topright @bottomright @bottomleft;
	border-radius: @topleft @topright @bottomright @bottomleft;
}

.box-shadow( @x: 0, @y: 0, @blur: 0, @alpha: 0 ){
	-webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
	-moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
	box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}

.transition( @prop: all, @time: 1s, @ease: linear ){
	-webkit-transition: @prop @time @ease;
	-moz-transition: @prop @time @ease;
	-o-transition: @prop @time @ease;
	-ms-transition: @prop @time @ease;
	transition: @prop @time @ease;
}

.transform( @rotate: 90deg, @scale: 1, @skew: 1deg, @translate: 10px ){
	-webkit-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	-moz-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	-o-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	-ms-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
}

.gradient( @origin: left, @start: #ffffff, @stop: #000000 ){
	background-color: @start;
	background-image: -webkit-linear-gradient(@origin, @start, @stop);
	background-image: -moz-linear-gradient(@origin, @start, @stop);
	background-image: -o-linear-gradient(@origin, @start, @stop);
	background-image: -ms-linear-gradient(@origin, @start, @stop);
	background-image: linear-gradient(@origin, @start, @stop);
}

.button(@color, @colorh){
	background-color:@color;border-color:@color;
	&:hover, &:active, &:focus{background-color:@colorh;border-color:@colorh;}
}

@hcolor_grey: #222;
@hcolor: lighten(@bcolor, 6);
@acolor: darken(@bcolor, 16);
@bcolor_d4: darken(@bcolor, 4);
@bcolor_s2l4: saturate(lighten(@bcolor, 4), 2);
@bcolor_l10: lighten(@bcolor, 10);
@bcolor_lb6: lighten(@bcolor, 6);
@bcolor_lb2: lighten(@bcolor, 4);
@bcolor_l8: lighten(@bcolor, 8%);
@bcolor_l40: lighten(@bcolor, 35);

.introtext { border-bottom-color: @bcolor;  }
.detail .introtext.wides:after{background-color: @bcolor;}

a:hover, a:focus{color:@hcolor_grey;}
.dark-color:hover, a.colored, .colored{color:@bcolor;}
a{color:@bcolor;}
a.colored:hover, .colored:hover{color:@hcolor_grey;}
a:active{color:@acolor;}

a.grey { color: #818181; }
a.grey:hover { color: @bcolor; }
.dark_link:hover{color: @bcolor;}

.btn-inline {color:@bcolor;}
.btn-inline.black:hover {color:@bcolor;}
.btn-inline.rounded:hover i { background: @bcolor;; }

body .fa.big-icon {background:@bcolor;}
body .fa.big-icon.grey { color: @bcolor;  background: #efefef; }

.icon-text { color: #fff;  background: @bcolor;  }
.icon-text .fa { color: #fff; }

.icon-text.grey { color: #222;  background: #efefef;  }
.icon-text.grey .fa { color: @bcolor; }

a.scroll-to-top.ROUND_COLOR, a.scroll-to-top.RECT_COLOR{background-color:@bcolor;}
a.scroll-to-top.ROUND_COLOR:hover, a.scroll-to-top.RECT_COLOR:hover{background-color:@bcolor_l8;}
.underline{border-bottom: 2px solid @bcolor;}
blockquote::before{color:@bcolor;}
.review .it:before{color:@bcolor;}
.styled-block{border-left-color:@bcolor;}
.item:hover .title a, .item:hover .title{/*color:@hcolor_grey !important;*/}
.list.icons .fa{color:@bcolor;}
table.table th{background-color:@bcolor;}
hr.colored_line{border-color:@bcolor;}

.bx_filter.compact .bx_filter_parameters_box.set .bx_filter_parameters_box_title:not(.prices) {border:1px solid @bcolor;color:@bcolor;}
.bx_filter.compact .bx_filter_parameters_box .bx_filter_parameters_box_title .text:hover {color:@bcolor;}
.bx_filter.compact .bx_filter_parameters_box.set .bx_filter_parameters_box_title:not(.prices) svg * {fill: @bcolor;}

/* BUTTONS */
.btn.btn-default{.button(@bcolor, @hcolor);color:#ffffff;}
.btn.btn-default.white{color:@bcolor !important;border:1px solid @bcolor_l40;background:#ffffff;}
.btn.btn-default.btn-transparent-bg:not(:hover){color:@bcolor !important;}
.btn.btn-default.white:hover, .btn-default.white:active, .btn-default.white:focus{color:#ffffff !important;border-color:@bcolor;background:@bcolor;}
.btn.btn-default.white.white-bg:hover, .btn-default.white.white-bg:active, .btn-default.white.white-bg:focus{color:@bcolor !important;border-color:@bcolor;background:#fff;}
.btn.btn-primary{.button(#00b290, #30c4a8);}
.btn.btn-success{.button(#84bc29, #9dca53);}
.btn.btn-info{.button(#0ca9e3, #39baec);}
.btn.btn-warning{.button(#f38b04, #f8a132);}
.btn.btn-danger{.button(#dc130d, #e63f3a);}
.btn.btn-transparent{.button(fadeout(#fff, 100%), @hcolor); color:#000000;}
.btn.btn-transparent:hover{color:#ffffff;}
.btn.btn-responsive-nav{background-color:@bcolor;}
.btn.btn-responsive-nav:hover{color:@bcolor; border:1px solid @bcolor;background-color:#ffffff;padding:4px 7px 2px;}
.btn.btn-link{color: @bcolor;border-color:@bcolor_l40}
.btn.btn-link:hover{color: @hcolor;border-color:transparent;}
.btn.btn-link:active{color: @acolor;}
.btn.btn-default.wc.vert .fa{background-color:@bcolor;}
.btn.btn-default.wc.vert:hover .fa{background-color:@hcolor;}
.btn.btn-transparent-border:hover{background-color:@bcolor;border:1px solid @bcolor;}

body header.light .logo_and_menu-row .confirm_region .buttons .btn.btn-default.btn-transparent-bg:not(:hover){color:@bcolor !important;}
body .confirm_region .btn.btn-default:not(:hover){border-color:@bcolor !important;}

/* LABELS */
.label.label-default{background:#93a6bc;}
.label.label-primary{background:#b8c2cd;}
.label.label-success{background:#5cb85c;}
.label.label-info{ }
.label.label-warning{background:#f0ad4e;}
.label.label-danger{background:#d9534f;}

/* HEADER */
	.top-block.colored {background:@bcolor;}
	.top-block .social-icons li a:hover:before{background-color:@bcolor;}
	.top-block .top-block-item  .inline-search-show:hover>span{color:@bcolor;}
	.logo.colored img,
	header .line-row,
	#mobileheader .logo.colored img{ background-color:@bcolor; }
	.top-block .top-block-item .personal.top:hover > a{color:@bcolor;}
	.top-block .top-block-item .personal.top:hover > a svg path{fill:@bcolor;}

	.logo-row .top-callback .phone .fa, .logo-row .top-callback .email .fa{background-color: @bcolor;}
	.logo-row .top-callback .email, .logo-row .top-callback .email a:hover{color:@hcolor;};
	.inline-search-block.fixed.big .search .close-block:hover .close-icons{background-color:@hcolor;}

/* MOBILE HEADER */
#mobileheader .mobileheader-v2 { background:@bcolor; }

/* MOBILE MENU */
#mobilemenu .menu ul>li.selected a:before{background:@bcolor;}
#mobilemenu .contacts a:hover{color:@bcolor;}
#mobilemenu .menu>ul>li.counters .count{background:@bcolor;}

/* THEME-SWITCHER */
.style-switcher .switch:hover, .style-switcher .switch_presets:hover, .style-switcher .header.can_save .save_btn:hover{background:@bcolor;}
.style-switcher .header .header-inner:hover{background:@bcolor;}
.style-switcher .parametrs .options > a.current:not(.block), .style-switcher .parametrs .options .link-item.current:not(.block){background:@bcolor;}
.style-switcher .presets .options .link-item.current{border-color:@bcolor;}
.style-switcher .options .link-item.current.block{border-color:@bcolor;}
.style-switcher .tooltip-link:hover{background:@bcolor;border-color:@bcolor;}
.style-switcher .options[data-code="BASE_COLOR"] > div.current > span, .style-switcher .options[data-code="BASE_COLOR"] > div.current > span:hover{border-color:@bcolor;}
.style-switcher .options[data-code="BGCOLOR_THEME"] > div.current > span, .style-switcher .options[data-code="BGCOLOR_THEME"] > div.current > span:hover{border-color:@bcolor;}
.style-switcher .left-block .section-block.active:before{background:@bcolor;}
.style-switcher .block-title .dotted-block{color:@bcolor;}

/* TOP SEARCH TITLE */
.top-block .search .search-wrapper{background:@bcolor;}
.menu-row .search-button-div .fa-close:hover{color:@hcolor;}
.search .btn-search{color:@bcolor;}

/* TOP MENU */
.mega-menu ul.nav li.active, .mega-menu ul.nav li:hover{background-color:@bcolor;}

.mega-menu table td.active .wrap > a, .mega-menu table td:not(.search-item):hover .wrap > a{color:@bcolor;}
.topmenu-LIGHT .mega-menu table td.active .wrap > .more-items span:before, .topmenu-LIGHT .mega-menu table td:not(.search-item):hover .wrap > .more-items span:before{background-color:@bcolor;}
.mega-menu table td .wrap > a .line-wrapper .line{background-color:@bcolor;}
.topmenu-LIGHT .mega-menu table .tail{border-bottom:6px solid @bcolor_d4;}
.mega-menu table .dropdown-menu li > a:hover, .mega-menu table .dropdown-submenu > a:hover:after {color:@bcolor;}
.mega-menu table .dropdown-menu li.active > a, .mega-menu table .dropdown-submenu.active > a, .mega-menu table .dropdown-submenu.active  > a:after {color:@bcolor;}
.mega-menu table  .wrap > .dropdown-menu > li:first-of-type:before{background-color:@bcolor;}
.marker-nav{background-color:@bcolor;}

/*.topmenu-LIGHT .mega-menu table td.search-item .wrap > a.search-icon:hover{color:@bcolor;}
.topmenu-LIGHT .mega-menu table .dropdown-menu{background-color:@bcolor_d4;}
.topmenu-LIGHT .mega-menu table .dropdown-menu li:hover > a, .topmenu-LIGHT .mega-menu table .dropdown-menu li.active > a, .topmenu-LIGHT .mega-menu table .dropdown-menu li > a:active, .topmenu-LIGHT .mega-menu table .dropdown-menu li > a:hover, .topmenu-LIGHT .mega-menu table .dropdown-menu li > a:focus{background-color:@acolor;}
.topmenu-LIGHT .mega-menu table .dropdown-menu li.active > a, .topmenu-LIGHT .mega-menu table .dropdown-menu li:hover > a, .topmenu-LIGHT .mega-menu table .dropdown-menu li.active + li > a, .topmenu-LIGHT .mega-menu table .dropdown-menu li:hover + li > a{border-top-color:rgba(256,256,256,0.3);}
.topmenu-DARK .mega-menu table td.active .wrap > a{background-color:@bcolor;}
.topmenu-DARK .mega-menu table .dropdown-menu li:hover > a, .topmenu-DARK .mega-menu table .dropdown-menu li.active > a, .topmenu-DARK .mega-menu table .dropdown-menu li > a:hover, .topmenu-DARK .mega-menu table .dropdown-menu li > a:active, .topmenu-DARK .mega-menu table .dropdown-menu li > a:focus{background-color:@bcolor;color:#ffffff;}
.topmenu-COLOR .menu-row{background-color:@bcolor_d4;}
.topmenu-COLOR .mega-menu table .dropdown-menu li:hover > a, .topmenu-COLOR .mega-menu table .dropdown-menu li.active > a, .topmenu-COLOR .mega-menu table .dropdown-menu li > a:hover, .topmenu-COLOR .mega-menu table .dropdown-menu li > a:active, .topmenu-COLOR .mega-menu table .dropdown-menu li > a:focus{background-color:@bcolor;color:#ffffff;}
.topmenu-COLOR .mega-menu table td .wrap > .search-icon:hover{background-color:@bcolor_lb6;}
.topmenu-COLOR .mega-menu table td.active .wrap > a{background-color:@acolor;}

.topmenu-LIGHT .basket_top .icon .count,header.fixed .basket_top .icon .count{background-color:@bcolor;}
.topmenu-LIGHT .basket_top:hover .icon:before,header.fixed .basket_top:hover .icon:before{background-color:@bcolor;}*/

.mega_fixed_menu .mega-menu table .wrap > .dropdown-menu .dropdown-submenu > a:hover>.arrow>i{background-color:@bcolor;}
.mega_fixed_menu .svg.svg-close:hover{background-color:@bcolor;}

.inline-search-block .search-wrapper{}
.inline-search-block.bg-colored-block.show{background-color:@bcolor;}
.menu-row.bgcolored .wrap_icon:hover{background-color:@hcolor;}
.logo_and_menu-row .burger:hover .svg-burger{background-color:@hcolor;}


body .basket-link.basket-count .count{background-color:@bcolor;}
.logo_and_menu-row .basket-link:hover .title{color:@bcolor;}
.top-block-item  .basket-link:hover  .title { color: @bcolor; }
.title-v5 .basket.fly .opener{background-color:@bcolor_lb2;}
.title-v5 .basket.fly .opener:hover{background-color:@bcolor_l10;}

/* svg */
.top-btn:hover .svg { background-color:@bcolor; }
a:hover .svg:not(.inline) { background-color:@bcolor; }
.svg.colored svg path{fill:@bcolor;}
.logo svg path.icon-path{fill:@bcolor;}
.social-icons li a:hover svg path, .header_opacity.header_fill_none header.light > div:not(.menu-row) .social-icons li a:hover svg path{fill:@bcolor !important;}

.menu-row.with-color.colored_dark .wrap_icon:hover .svg svg path, .wrap_icon:hover .svg.inline svg path{fill:@bcolor;}

#mobileheader .wrap_icon #mobilePhone .svg.inline:hover svg path{fill: @bcolor;}
#mobileheader .wrap_icon #mobilePhone .callback_wrap:hover{color: @bcolor;}
#mobileheader .wrap_icon #mobilePhone .callback_wrap:hover .svg-inline-call svg path{fill: @bcolor;}
#mobileheader .wrap_icon .wrap .callback_wrap:hover .callback-block{color: @bcolor;}

/* colored menu */
.fill_bg_n.header_fill_colored header .logo_and_menu-row.full-fill .logo-row, .header_fill_colored header .logo_and_menu-row.full-fill .logo-row .maxwidth-theme{background:@bcolor;}

/* transparent menu */
.menu-row.with-color.colored_dark .mega-menu table td.active .wrap > a, .menu-row.with-color.colored_dark .mega-menu table td:hover .wrap > a, .menu-row.with-color.colored_dark .mega-menu table td .wrap > a:hover{color:@bcolor;}

.menu-row.bgcolored .mega-menu table td:hover {  background-color:@hcolor; }
.menu-row.bgcolored .mega-menu table td.active {  background-color:darken(@bcolor, 8);}
.menu-row.bgcolored > .maxwidth-theme .menu-only{background-color:@bcolor;}
body.header_nopacity.header_fill_colored.fill_bg_y header .menu-row > .maxwidth-theme, body.header_nopacity.header_fill_colored.fill_bg_n header .menu-row,{background-color:@bcolor;}
.top-block .menu.topest li.selected>a, .top-block .menu.topest li:hover >a{color: @bcolor;}

body:not(.header_fill_colored) .mega-menu table td .wrap > a.more-items:hover svg path{fill:@bcolor !important;}
body:not(.header_fill_colored) .mega-menu table td:hover > .wrap > a.more-items svg path{fill:@bcolor !important;}
.header_opacity header.light .nav a:hover svg path{fill:@bcolor !important;}
.header_opacity.header_fill_light header.light > .full-fill .logo svg path{fill:@bcolor !important;}

.menu-row .mega-menu table td.wide_menu > .wrap > .dropdown-menu > li > .dropdown-menu li a{color:@bcolor;}
.header_nopacity.header_fill_colored .logo_and_menu-row .menu-row .basket-link .count{border-color:@bcolor;}

/*tizers*/
.wrap_tizer .wrap_outer, .wrap_tizer .wrap_outer .outer_text, .wrap_tizer .wrap_outer .inner_text{background: @bcolor;}


/*header*/
.header_fill_colored.fill_bg_n header .top-block + .logo_and_menu-row .logo-row, .header_fill_colored header .top-block + .logo_and_menu-row .logo-row .maxwidth-theme{background-color:@bcolor;}
body header.light .wrap_icon:hover .svg.inline svg path{fill:@bcolor !important;}
body.header_opacity.header_fill_none header.light .top-block .svg.colored svg path, body header.light .top-block .personal:hover .svg svg path{fill:@bcolor !important;}

body.header_opacity header.light i.colored.svg svg path{fill:@bcolor !important;}
#mobilemenu .expanded>.dropdown .menu_back a:hover svg path{fill:@bcolor;}
.rss:hover, .body .page-top .print-link:hover{background-color:@bcolor;}
.personal-link:hover svg path{fill:@bcolor;}

.catalog .bx_filter_section .bx_filter_block .pict label:hover, .catalog .bx_filter_section .bx_filter_block .pict label.active{border-color:@bcolor;}
.catalog .bx_filter_section .bx_filter_block .bx_filter_param_label:hover .bx_filter_param_btn, .catalog .bx_filter_section .bx_filter_block .bx_filter_param_label.active .bx_filter_param_btn{border-color:@bcolor;}

/* FIXED HEADER */
#headerfixed .menu-block.rows:hover{background-color:@bcolor;}
#headerfixed .menu-block .navs td:not(.wide_menu) ul li.active > a, #headerfixed .menu-block .navs td:not(.wide_menu) ul li a:hover, #headerfixed .menu-block .navs td:not(.wide_menu) ul li a:focus{color:@bcolor;}

/* FRONT PORTFOLIO*/
.wrap-portfolio-front{background:@bcolor;}

/* FRONT TABS */
.head-block .item-link.active .title, .head-block .item-link.active span, .head-block .item-link.active .btn-inline, .head-block .item-link:hover span{color:@bcolor;}
.head-block .item-link.active .title span:before, .head-block .item-link.active .title .btn-inline:before{background:@bcolor;}
.items-link-mobile-wrap .new-select__item.active span:before {background: @bcolor;}

/* TAGS */
.search-tags-cloud .tags a:hover{background:@bcolor;}

/* SCORP2.0 BASKET SMALL */
.basket_top .dropdown{border-color:@bcolor;}
.basket_top .dropdown:before{border-bottom-color:@bcolor;}
.remove:hover:before{background-color:@bcolor;}
.basket_order .description:before{background:@bcolor;}
.basket.fly .opener{background:@bcolor;}
.basket.fly .opener:hover{background:@hcolor;}

/* PAGE TITLE & BREADCRUMBS */
.breadcrumb a:hover{ color: @hcolor_grey; }
.breadcrumb a:active{ color: @acolor; }
.breadcrumb li:hover > a{color:@hcolor;}
.pagination .active a, .pagination .active span{border-color: @bcolor !important;background-color: @bcolor !important;}
.pagination li:not(.active):hover a{border-color: @bcolor !important;color:@bcolor;}
.pagination a:hover .fa{ color: @bcolor; }
.pagination li.prev:hover a svg path, .pagination li.next:hover a svg path, .more_text_ajax svg path{ fill: @bcolor; }

.item-views.blocks h3.line:after{background:@bcolor;}
.nav-direction .flex-direction-nav li a{background:@bcolor;}
.nav-direction .flex-direction-nav li a:hover{background:@hcolor;}
.show_props .char_title:hover svg path{fill:@bcolor;}
.cls-cluster2{fill:@bcolor;}
.contacts-page-map-top.projects .bx-yandex-view-layout .pane_info .section_name{color:@bcolor}
.detail .galery .top-small-wrapper .slides li.flex-active-slide{border-color:@bcolor;}

/* FOOTER */
.bottom-menu .item:hover .title a, .bottom-menu .item:hover .title, .bottom-menu .item.active .title a, .bottom-menu .item.active .title{color:@hcolor !important;}
footer .print-link:hover{color:@hcolor}
footer .print-link:hover svg path{fill:@hcolor}

/* SOCIAL ICONS */
.social-icons li:hover a{border-color:@hcolor;background-color:transparent;}

/* LEFT MENU */
.side-menu > li > a:hover, .side-menu li > a:hover:before, .side-menu li > a:active:before, .side-menu li > a:focus:before{color:@hcolor;}
.side-menu > li.active > a, .side-menu li.active > a:before{/*color:@hcolor;*/}
.side-menu > li.active > a{background:@bcolor;}
.side-menu .submenu > li.active > a{color:@bcolor_d4;}
.side-menu .submenu > li > a:hover{color:@hcolor;}
.side-menu > li > a:hover .icons svg path{fill:@hcolor;}

/* TABS */
.tabs .nav-tabs li.active a{ color: @bcolor; }
.tabs .nav-tabs li.active a:before{ background: @bcolor; }
.tabs .nav-tabs a:hover, .tabs .nav-tabs a:active,.tabs .nav-tabs a:focus{color: @bcolor;}

.active .title-tab-heading, .title-tab-heading:focus, .title-tab-heading:active, .title-tab-heading:hover{color:@bcolor;}

/* ACCORDION */
.accordion-head.accordion-open a, .accordion-head:hover a{color:@bcolor;}

/* FLEXSLIDER */
.detail .gallery-block .small-gallery ul.items li.flex-active-slide, .detail .gallery-block .small-gallery ul.items li:hover{border-color:@bcolor;}
.flex-direction-nav a:hover, .flex-direction-nav a:hover::before{color:@hcolor;border-color:@hcolor;}
.color-controls .flex-direction-nav a{background: @bcolor;}
.color-controls .flex-direction-nav a:hover{background: @hcolor;}
span.zoom{background-color: @bcolor;}
span.zoom:hover{background-color: @hcolor;}

.wr_scrollbar .scrollbar .handle{background:@bcolor;}

/* 404 PAGE */
.page404 .i404{color:@bcolor;}

/* FORMS */
.jqmClose.top-close:hover{ color:@hcolor;}
.form.contacts .title{border-color:@bcolor;}
.form .form-header{border-top-color:@bcolor !important;}
.form-header i{ background: @bcolor; }

/* BANNERS */
.banners-small .item .title a:hover, .more_text_ajax:hover{color:@bcolor !important;}
.more_text_ajax:hover:after{background-color:@bcolor;}
.more_text_ajax:hover svg path, .ajax_load_btn:hover .more_text_ajax svg path{fill:@bcolor;}
.banners-big.view_2 .slides  li .maxwidth-theme .row .tablet_text {background-color: @bcolor;}
.banners-big.view_2 .flexslider .slides li .wrap .tablet_text .banner_buttons .btn:hover{color:@bcolor !important;}
/* TEASERS */
.teasers.item-views.front.icons .item a:hover{color:@bcolor !important;}

/* NEWS templates (articles,news,discounts,services) */

/* SERVICES */

/* PROJECTS */
.front-projects.item-views.table .item .info{border-top-color:@bcolor;}
.front-projects.item-views.table .item a:hover .info{background:#324860;}
.front-projects.item-views.table .item a:hover .info:before{border-bottom-color:@bcolor;}

.item-views .item .title a:hover{color:@bcolor;}

.uploader:hover .action{background-color:@hcolor;border-color:@hcolor;}
.uploader .action{color:@bcolor;border:1px solid @bcolor_l40;}
.form .input .add_file:hover{color:@bcolor;}
.form .input .add_file:hover:before{background-color:@bcolor;}
p.drop-caps:first-child:first-letter{ color: @bcolor; }
p.drop-caps.secundary:first-child:first-letter{ background-color: @bcolor; }
.label-info{ background-color: @bcolor; }
section.toggle label{ color: @bcolor; border-color: @bcolor; }
section.toggle.active > label{ background-color: @bcolor; border-color: @bcolor; }
.progress-bar-primary{ background-color: @bcolor; }
.slider-container .tp-caption a:not(.btn):hover{ color: lighten(@bcolor, 8); }
.tp-bullets .bullet.selected, .tp-bullets .bullet:hover{ background: @bcolor !important; }
.fa.colored{ background: @bcolor; }

.docs-block .iblocks:hover .icons-block a, .iblocks .icons-block a:hover{background: @bcolor;}
.docs-block .iblocks:hover .text-block .text{color: @bcolor !important;}

.item-views .property.price .fa, .item-views .property.price .price_val{color: @bcolor;}
.item-views .item:hover .property .fa{ color: @bcolor; }
.link-block-more .dark-color:hover:before{background:@bcolor;}
.tabs.item-views.table .title, .history.item-views.table .title{ color: @bcolor; }
.history.item-views .title{ color: @bcolor; }

.detail .galery #slider.flexslider:hover .flex-direction-nav {background: @hcolor;}
.detail .galery #carousel .slides li.flex-active-slide{border-color: @bcolor;}
.detail .reviews .item .review .icons:before{color: @bcolor;}
.detail .galery #carousel .flex-direction-nav a:hover::before {color: @bcolor;}
.catalog.group .price .price_val{color: @bcolor;}
.select-outer i.fa{color: @bcolor; }
.item-views.table.bblock .item .info{border-top-color:@bcolor;}

.popup_regions .items .item.current{background: @bcolor;}

#headerfixed .nav-pills>li.active>a,
#headerfixed .nav>li>a:focus, #headerfixed .nav>li>a:hover, #headerfixed .nav-pills>li.active>a,
#headerfixed .nav-pills>li.active>a:focus, #headerfixed .nav-pills>li.active>a:hover,
#headerfixed .dropdown-menu>.active>a, #headerfixed .dropdown-menu>.active>a:focus, #headerfixed .dropdown-menu>.active>a:hover,
#headerfixed .dropdown-menu>li>a:focus, #headerfixed .dropdown-menu>li>a:hover{color:@bcolor;}

/*front-news*/
.item .sticker-block{color:@bcolor;}
.news_block .item .sticker{background: @bcolor;}
.reviews.item-views.slider .item .preview-text-wrapper .quote svg path{fill: @bcolor;}
.profit-front-block .item .image{background: @bcolor;}

/*fort-services*/
.item-views .item .title a.colored{color:@bcolor;}
.float-banners.v2 .item:hover:after{background:@bcolor;}

/*maps*/
.marker .mcls-1{fill:@bcolor;}
.bx-yandex-view-layout .pane_info_wrapper .pane_info .email a:hover{color:@bcolor;}
.marker:hover .mcls-1{fill:lighten(@bcolor, 8);}

/*front-project*/
.portfolio.item-views .link .item, .portfolio.item-views .link .item .bottom_title .btn-default, .btn-default.white_br.white{background: @bcolor !important;}
.portfolio.item-views .link .item .bottom_title .btn-default:hover span{color:@bcolor;}
.item.wline:after{background: @bcolor;}

.dark-nav2 .flex-control-paging li a:hover, .dark-nav2 .flex-control-paging li a.flex-active{background: @bcolor;}
.banners-big .nav-carousel .flex-direction-nav li:hover{background: @bcolor;}

/*review*/
.reviews.item-views.front .item .image:before{background-color: @bcolor;}

/*staff*/
.item-views .item .bottom-props .value{background-color: @bcolor;}
.item-views .item .bottom-props > a:hover{background-color: @hcolor;}
.detail.staff .bottom-props .value{background-color: @bcolor;}
.detail.staff .bottom-props > a:hover{background-color: @hcolor;}

/*filter*/
.filter-action.active, .display-type .view-button:hover, .display-type .view-button.cur{background-color: @bcolor;}
.bx_filter .bx_ui_slider_range, .bx_filter .bx_ui_slider_pricebar_V, .bx_filter.bx_filter_vertical .bx_filter_popup_result{background-color:@bcolor;}
.bx_filter .bx_ui_slider_track .bx_ui_slider_handle{border-color:@bcolor;}
.catalog.bx_filter .bx_filter_parameters_box_title:hover:before, .catalog.bx_filter .bx_filter_parameters_box_title:hover{color:@bcolor;}
.bx_filter input[type="checkbox"] + label:before, .filter input[type="radio"] + label:before, .bx_filter .bx_filter_select_arrow, .common_select .common_select-link .trigger{background-color:@bcolor;}
.bx_filter input[type="checkbox"]:checked + label:after, .filter input[type="checkbox"]:checked + label:after{background-color:@bcolor;border-color:@bcolor;}
.bx_filter_section .btn.btn-transparent{color:@bcolor;}


/*subscribe*/
.subscribe-edit-main .form input[type=checkbox] + label:hover:after, .subscribe-edit-main .form input[type=checkbox]:checked + label:after, .subscribe-edit-main .form input[type=radio] + label:hover:after, .subscribe-edit-main .form input[type=radio]:checked + label:after{ background-color: @bcolor; border-color:@bcolor; }
.subscribe-edit-main font.notetext{border-color:@bcolor;}

@media (max-width:767px){
	.basket_top .icon .count{background:@bcolor!important;}
	.banners-big.view_2 .slides {background-color: @bcolor;}
}


/* h1 & breadcrumbs */
.page-top-wrapper.color { background: @bcolor; }
.title-v5.fill_bg_y .page-top-wrapper.color > .maxwidth-theme{background: @bcolor;}